?<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
  <config>
    <add key="repositoryPath" value="..\ThirdParties" />
  </config>
  <packageSources>
    <!-- Add this repository to the list of available repositories -->
    <add key="Stratasys - Nuget" value="https://nuget.grabcad.net/nuget/ps-release" />
  </packageSources>
</configuration>